@font-face
  font-style: normal
  font-weight: 200
  font-family: "JetBrains Mono"
  src: url("../lib/jetbrains-mono/JetBrainsMono-Regular.ttf") format("truetype")

@font-face
  font-style: normal
  font-weight: 400
  font-family: "JetBrains Mono"
  src: url("../lib/jetbrains-mono/JetBrainsMono-SemiBold.ttf") format("truetype")

@font-face
  font-style: normal
  font-weight: 800
  font-family: "JetBrains Mono"
  src: url("../lib/jetbrains-mono/JetBrainsMono-ExtraBold.ttf") format("truetype")
