<div id="footer-post-container">
  <div id="footer-post">

    <div id="nav-footer" style="display: none">
    </div>

    <% let tocHTML = toc(page.content) %>
    <% if (tocHTML !== '') { %>
      <div id="toc-footer" style="display: none">
        <%- toc(page.content) %>
      </div>
    <% } %>

    <div id="share-footer" style="display: none">
      <%- partial('_partial/post/share', { icon_class_name: 'fa-lg' }) %>
    </div>
  </div>
</div>
